*.iml

.idea/**
.idea/copyright/
.idea/inspectionProfiles/
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/shelf/
!.idea/codeStyleSettings.xml
./idea/kotlinc.xml

.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
